:root {
  --green: 93, 127, 3;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(var(--green), 0.3);
}



.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero111_lrg.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


}

.hero-text {
  text-align: center;
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}


.about-panel {
  height: 500px;
  border: 5px;
  border-color: whitesmoke;

  font-size: 2rem;
  font-weight: 900;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  display: flex;
}

.about-panel-left {
  background-color: red;
}

.about-panel-right {
  background-color: blue;
}

.tile {
  height: 40vh;
}

.tile_section {
  display: flex;
  flex-direction: row;
}

.tile1 {
  background-color: rgba(var(--green), 0.8);
}

.tile2 {
  background-color: rgba(var(--green), 0.7);
}
.tile3 {
  background-color: rgba(var(--green), 0.6);
}
.tile4 {
  background-color: rgba(var(--green), 0.5);
}
.tile5 {
  background-color: rgba(var(--green), 0.4);
}
.tile6 {
  background-color: rgba(var(--green), 0.3);
}

.footer {
  background-color: rgb(227, 215, 200);
  height: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 40px;
  overflow: hidden;
  // background-color: #333333;
}

li {
  float: left;
}

li a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


@media only screen and (max-width: 600px) {
.tile_section {
  display: flex;
  flex-direction: column;
}
}