body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

i{
    font-size: 2rem;
}

#page-home{
    background-color: yellowgreen;
    height: 100vh;
}


#page-game{
    background-color: blueviolet;
    height: 100vh;
}

#page-help{
    background-color: pink;
    height: 100vh;
}


.bg-yellow{
    background-color: yellow;  
    height: 20vh;
}

.bg-grey{
    background-color: grey;  
    height: 20vh;
}

.bg-blue{
    background-color:lightblue;  
    height: 20vh;
}


.bg-red {
    background-color:  lightcoral;  
    height: 20vh;
}