#homepage-hero {
  height:180vh;
  min-height:400px;
  background-size:cover;
  background-image:url('../images/bowood/hero.jpg');
}

.hidden-spacer {
  height: 56px
}

.section1 {
  background-color: rgb(69, 111, 225)
}

.white-text{
  color: white; 
}